@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*Styling For Header*/
.header{
  transition: min-height 0.3s;
}

.header__menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 30px;
}

/*Styling For Navigation Bar*/
.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: min-height 0.3s;
}

.nav-bar .nav-logo{
  margin-right: auto;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  font-size: 24px;
  color: #1C6758;
}

.nav-bar .nav-logo h1{
  font-weight: 600;
}

.nav-bar .menu-bar{
  padding: 20px;
  margin: 10px;
}

.nav-bar .menu-bar .list-menu{
  display: inline;
  padding: 20px;
}

.nav-bar .menu-bar .list-menu li{
  list-style: none;
  display: inline;
  padding: 10px;
  margin-right: 8px;
}

.nav-bar .menu-bar .list-menu li a{
  text-decoration: none;
  color: #1C6758;
  font-size: 20px;
  
}

.nav-bar .menu-bar .list-menu li a:hover{
  text-decoration: underline;
  
}

/*Styling For Jumbotron*/
.jumbotron{
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .overlay .hero-inner {
  margin: 0 auto;
  max-width: 800px;
}

.jumbotron .overlay .hero-inner .hero-title{
  font-size: 36px;
  font-weight: 800;
  color: #D6CDA4;
}

.jumbotron .overlay .hero-inner .hero-desc{
  color: #D6CDA4;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

.jumbotron .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  min-height: 300px;
  background-color: #1C6758;
  opacity: 80%;
  border-radius: 10px;
  padding: 5px;
}

/*Styling For List Reastaurant*/
main{
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

#favorite h2.title{
  font-size: 30px;
  text-align: center;
  
}

 #favorite .list-restaurant .item{
  margin: 32px auto auto;
  text-align: left;
  overflow: auto;
 }

 #favorite .list-restaurant{
  min-width: 80%;
  margin: 10px auto;
 }

 #favorite .list-restaurant .item .card-item{
  margin: 10px 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 20rem;
 }

 #favorite .list-restaurant .item .card-item .card-img{
   max-height: 150px;
 }

 #favorite .list-restaurant .item .card-item .card-desc{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-height: 20px;
  max-height: 40px;
 -webkit-line-clamp: 4; 
 }

 .ratting{
  color: #FFA500;
 }



 /*Styling For Footer*/
 footer{
  margin-top: 100px;
 }
 .container{
	max-width: 1000px;
	
  
}
.row{
	display: flex;
	flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  
}
footer.ul{
	list-style: none;
}
.footer{
	background-color: #1C6758;
  padding: 0px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   margin: 20px;
   text-align: center;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  text-align: center;
}
.footer-col h4::after{
  content:"";
  border-bottom: 5px solid #D6CDA4;
  width: 52px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer .create-by{
  width: 100%;
  border-top: 1px solid grey;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  color: #ffffff;
}

.footer .create-by .love{
  color: red;
}
