#favorite .list-restaurant .item{
  display: grid;
  grid-row-gap: 16px ;
}

@media screen and (max-width: 499px) {
    .menu-bar {
      z-index: 10;
      background-color: #fff;
      width: 300px;
      position: absolute;
  
      /* This trasform moves the drawer off canvas. */
      -webkit-transform: translate(-400px, 0);
      transform: translate(-400px, 0);
  
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease;
    }
  
    .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  
    .nav-item {
      display: list-item;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      text-align: left;
    }
  }

  @media screen and (min-width: 500px) {
    .header__menu {
      display: none;
      text-decoration: none;
    }
  }

@media screen and (min-width: 650px) {
    .headline__content {
      margin: 0 auto;
      max-width: 650px;
    }
  

  
    .card-item .card-title {
      font-size: 18px;
    }
  
    .card-item.card-desc{
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 700px) {
    #favorite .list-restaurant .item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .list-menu {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 900px) {
    #favorite .list-restaurant .item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {

  }