.list-restaurant .card-item{
  display: grid;
  grid-row-gap: 16px ;
}

@media screen and (max-width: 633px) {
    .menu-bar {
      z-index: 10;
      background-color: #fff;
      width: 100%;
      position: absolute;
  
      /* This trasform moves the drawer off canvas. */
      -webkit-transform: translate(0, -300px);
      transform: translate(0, -300px);
  
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease;
    }

    .menu-bar .list-menu{
      display: list-item;
      list-style-type: none;
      width: 100%;
    }

    .menu-bar .list-menu li{
      padding: 10px;
    }

  
    .open {
      -webkit-transform: translate(0, 205px);
      transform: translate(0, 205px);
    }
  
    .nav-item {
      display: list-item;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      text-align: left;
    }


    .nav-bar .nav-logo{
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.5s ease 0s;
      font-size: 24px;
      color: #1C6758;
    }
    
  }

  @media screen and (min-width: 633px) {
    .header__menu {
      display: none;
      text-decoration: none;
    }

    .nav-bar .nav-logo{
      margin-right: auto;
      margin-left: 15px;
      cursor: pointer;
      transition: all 0.5s ease 0s;
      font-size: 24px;
      color: #1C6758;
    }

    .nav-bar .menu-bar .list-menu li{
      list-style: none;
      display: inline;
      padding: 10px;
      margin-right: 8px;
    }
  }

@media screen and (min-width: 650px) {
    .headline__content {
      margin: 0 auto;
      max-width: 650px;
    }

    .post-item__content {
      padding: 16px 32px 32px 32px;
    }
  
    .post-item__title {
      font-size: 22px;
    }
  
    .post-item__description {
      font-size: 14px;
    }

  }
  
  @media screen and (min-width: 700px) {
  .list-restaurant .card-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .list-menu {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 900px) {
    .list-restaurant .card-item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {
    main{
      max-width: 1200px;
    }
  }